*{
    box-sizing: border-box;
   user-select: none;
}

body{
    font-family: sans-serif;
    height: 100vh;
    background-color: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin:0;
}

.clock{
    width: 300px;
    height: 300px;
}

.clock-pannel{
    width:100%;
    height:100%;
    background-color: #000;
    border: 8px solid silver;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.5);

    position: relative;
}

.clock-face{
    color: #fff;
}

.clock-face-item{
    position: absolute;
    left:50%;
    top: 25px;

    transform: translate(-50%);

    transform-origin: 50% 125px;
}

.clock-face-item span{
    display: block;
}

.num-12{
    transform:rotate(0deg);
}
.num-12>span{
    transform: rotate(0deg);
}
.num-1 {
    transform: rotate(30deg);
}
.num-1>span {
    transform: rotate(-30deg);
}
.num-2 {
    transform: rotate(60deg);
}
.num-2>span {
    transform: rotate(-60deg);
}
.num-3 {
    transform: rotate(90deg);
}
.num-3>span {
    transform: rotate(-90deg);
}
.num-4 {
    transform: rotate(120deg);
}
.num-4>span {
    transform: rotate(-120deg);
}
.num-5 {
    transform: rotate(150deg);
}
.num-5>span {
    transform: rotate(-150deg);
}
.num-6 {
    transform: rotate(180deg);
}
.num-6>span {
    transform: rotate(-180deg);
}
.num-7 {
    transform: rotate(210deg);
}
.num-7>span {
    transform: rotate(-210deg);
}
.num-8 {
    transform: rotate(240deg);
}
.num-8>span {
    transform: rotate(-240deg);
}
.num-9 {
    transform: rotate(270deg);
}
.num-9>span {
    transform: rotate(-270deg);
}
.num-10 {
    transform: rotate(300deg);
}
.num-10>span {
    transform: rotate(-300deg);
}
.num-11 {
    transform: rotate(330deg);
}
.num-11>span {
    transform: rotate(-330deg);
}

.clock-face-hand-item{
    position: absolute;
}


.clock-face-hand-item.hour{
    --myrotation: 360deg;
    width: 4px;
    height: 60px;
    background-color: #fff;
    border-radius: 10px;

    left: 148px; /* 150-4+2 = 148px */
    top: 90px;/* 150-60 = 90px */

    /* transform: rotate(320deg); */
    transform: rotate(calc(var(--myrotation)*1deg));
    transform-origin: 50% 100%;
}

.clock-face-hand-item.minute{
    --myrotation: 50deg;
    width: 4px;
    height: 110px;
    background-color: steelblue;
    border-radius: 10px;

    left: 148px;
    top: 40px;

    transform-origin: 50% 110px;
    transform: rotate(calc(var(--myrotation)*1deg));
}

.clock-face-hand-item.second {
    --myrotation:50;
    width: 2px;
    height: 120px;
    background-color: red;
    border-radius: 10px;

    left: 147px;
    top: 30px;

    transform-origin: 50% 120px;
    transform: rotate(calc(var(--myrotation)*1deg));
}

